{% extends "BackendBundle:Layouts:2column.html.twig" %}

{% block title_section %}
    {{ "Caballos" | trans }}
{% endblock %}

{% block breadcrumb %}
    {% set crumbs = {'Caballos':''} %}
    {{ setCrumbs(crumbs) }}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="row">
        <a href="{{ path('new_entry') }}" class="btn btn-primary btn-m">
            <i class="fa fa-plus"></i> {{ "Nuevo" | trans }}
        </a>
    </div>
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon">
                <i class="fa fa-align-justify"></i>
            </span>
            <h5>{{ "Búsqueda de caballos"|trans }}</h5>
        </div>
        <div class="widget-content nopadding">
            <form action="{{ path('entries_list') }}" method="get" class="form-inline" role="form">
                <div class="form-group">
                    <div class="col-sm-12">
                        {{ form_widget(form.name, { 'attr': { 'class': 'form-control', 'placeholder': "Nombre"|trans} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        {{ form_widget(form.user, { 'attr': { 'class': 'form-control'} }) }}
                    </div>
                </div>

                {{ form_rest(form) }}
                <button id="register" type="submit" class="btn btn-large btn-primary">
                    {{ "Buscar"|trans }}
                </button>
            </form>
        </div>
    </div>
    

    {% if entries | length > 0 %}
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon">
                <i class="fa fa-align-justify"></i>
            </span>
            <h5>{{ "Listado de caballos"|trans }}</h5>
        </div>
        <div class="widget-content nopadding">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>{{ "Nombre"|trans }}</th>
                    <th>{{ "Dueño"|trans }}</th>
                    <th>{{ "Creado"|trans }}</th>
                    <th>{{ "Sexo"|trans }}</th>
                    <th>{{ "Nacimiento"|trans }}</th>
                    <th>{{ "Acciones"|trans }}</th>
                </tr>
                </thead>
                <tbody>
                    {% for entry in entries %}
                        {% if entry.deleted is not defined or entry.deleted is null %}
                            <tr>
                                <td>{% if entry.name is defined %}{{ entry.name }}{% endif %}</td>
                                <td>{% if entry.user is defined %}
                                        <a title="{{ "Ver usuario"|trans }}" href="{{ path('show_api_user',{'id':entry.user.id}) }}">{% if entry.user.name is defined %}{{ entry.user.name }}{% endif %} {% if entry.user.last_name is defined %}{{ entry.user.last_name }}{% endif %}</a>
                                    {% endif %}
                                </td>
                                <td>{% if entry.created is defined %}{{ entry.created |date('d/m/Y') }}{% endif %}</td>
                                <td class="taskOptions">
                                    <a title="Ver" href="{{ path('show_entry', { 'id': entry.id }) }}"><i class="fa fa-eye"></i></a>
                                    <a title="Modificar" href="{{ path('edit_entry', { 'id': entry.id }) }}"><i class="fa fa-pencil"></i></a>
                                    <a title="Borrar" href="{{ path('delete_entry', { 'id': entry.id }) }}"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
        <div class="alert alert-info mt">
            <strong>{{"Información!" | trans }}</strong>
            {{"No se ha encontrado ningún registro" | trans }}
        </div>
    {% endif %}
{% endblock %}