{% set action = app.request.attributes.get('_route') %}
{% set params = app.request.attributes.get('_route_params') %}
<div id="sidebar">
	{#<div id="search">
		<input type="text" placeholder="Search here..."/><button type="submit" class="tip-right" title="Search"><i class="fa fa-search"></i></button>
	</div>#}
	<ul>
        <li class="submenu {%  if action == 'home' or action == 'users_list' or action == 'new_clinic' or action == 'edit_clinic' or action == 'show_clinic' %}active open{% endif %}">
            <a href="#"><i class="fa fa-hospital-o"></i> <span>{{ "Clínicas"|trans }}</span> <i class="arrow fa fa-chevron-right"></i></a>
            <ul>
                <li {% if action == 'users_list' %}class="active"{% endif %}><a href="{{ path('users_list') }}">{{ "Listado"|trans }}</a></li>
                <li {% if action == 'new_user' %}class="active"{% endif %}><a href="{{ path('new_user') }}">{{ "Nuevo"|trans }}</a></li>
            </ul>
        </li>
    </ul>
</div>
